$primary : black;
$secondary : yellow;
$fuckserifs : sans-serif;

html, body, p, nav {

	margin: 0;
	padding: 0;
	color: none;


}

div {

	background-color: $primary !important;
	color: $secondary;
	height: 100%;
	width: 100%;
	
}

nav {

	background-color: $secondary;
	font-family: $fuckserifs;
	font-color: $primary;
}